<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>e</string>
		<key>text</key>
		<string>电动车</string>
	</dict>
	<dict>
		<key>img</key>
		<string>e</string>
		<key>text</key>
		<string>自行车</string>
	</dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>摩托车</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>台式电脑</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>笔记本</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>电脑／配件</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>手机</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>书籍</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>音乐器材</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>体育用品</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>服装／箱包</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>消费卡／券</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>网游／虚拟</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>免费赠送</string>
    </dict>
    <dict>
        <key>img</key>
        <string>e</string>
        <key>text</key>
        <string>其他</string>
    </dict>

</array>
</plist>
